@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
    background-color: rgb(200, 200, 200);
}

h1 {
    font-family: 'Roboto Mono', monospace;
    border-bottom: 1px black solid;
}

p {
    font-family: 'Roboto Mono', monospace;
}

#app {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}