@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(230, 230, 245);
}

h1 {
    border-bottom: 1px black solid;
}

b {
    font-family: 'Roboto Mono Bold', monospace;
}

li {
    list-style: none;
    margin-left: 30px;
}

#app {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}